.dashboard {
    background: #1f2229;
    color: #fff;
    overflow-y: auto;
    width: 100%;
    height: calc(100vh - 60px);
}
.dashboard .wrapper {
    display: flex;
    padding: 10px;
    flex-wrap: wrap;
}
